body {
    background: rgb(202, 198, 198) url('images/background.jpg') repeat-x;
}

div {
    background-color: white;
    border: 5px solid blue;
}

.header-image {
    display: block;
    margin: 0 auto 15px auto;
    width: 15%;
}

.right img {
    display: block;
    padding: 15px 0;
}

.left {
    margin: 0 25px
    width: 50%
    padding: 100px;
    border: 5px solid blue;
}

.right {
    margin: 0 25px;
    width: 25%
    padding: 100px;
    border: 5px solid red;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav a {
    display: block;
}

p a {
    font-weight: bold;
    color: red;
}

.nav-heading {
    font-weight: bold;
    padding: 5px 0;
}

.posted {
    margin-bottom: 15px;
    border-top: 5px dotted black;
    border-bottom: 5px solid black;
}

span {
    font-weight: bold;
    color: red;
}